<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        <%= @task.name %>
      </h1>
      <p class="lead">
        <%= @task.details %>
      </p>
    </div>
  </div>
  <%= @task.completed ? 'Task completed' : 'Task not completed yet' %>
  <div class="mt-5">
    <%= link_to 'Back to tasks list', tasks_path, class: "btn btn-primary" %>
    <%= link_to 'Update task', edit_path(@task), class: "btn btn-warning" %>
    <%= link_to 'Delete task',
                task_path(@task),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>

